body{
   background: rgb(240, 240, 240);
}

#overlay{
   position: fixed;
   width: 100%;
   height: 100%;
   opacity: 0.5;
   background: black;
   z-index: 3;
}
/*
#imgHeader{
   width: 100%;
   height: 600px;
   background-image: url('../images/1.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   z-index: 0;
   position: fixed;
   top: 65px;
}*/

#main{
   padding-top: 100px;
   z-index: 2;
   position: relative;
   /*background-image: url('../images/seamles.jpg');*/
   /*background: rgb(240, 240, 240);*/
   width: 100%;
}

#isi{
   line-height: 25px;
   display: block;
}

@media (max-width: 930px){
   #logo{
      margin: auto;
      margin-top: 10px;
      margin-bottom: 40px;
      height: 160px;
      width: 320px;
   }
   #menu{
      right: 30%;
      top: 130px;
   }
   #switch{
      left: 40%;
   }
}

@media (max-width: 800px){
   #menu{
      right: 28%;
      font-size: 25px;
   }
}

@media (max-width: 700px){
   #menu{
      right: 25%;
      font-size: 23px;
   }
}

@media (max-width: 600px){
   #menu{
      right: 23%;
   }
   #switch{
      left: 35%;
   }
}

@media (max-width: 500px){
   #menu{
      right: 22%;
   }
   ul a{
      margin: 10px;
   }
}
@media (max-width: 499px){
   #imgHeader{
      display: none;
   }

   #main{
      position: static;
      padding-top: 20px;
   }

   #switch{
      display: none;
   }
}

@media (max-width: 400px){
   #menu{
      right: 20%;
   }
   ul a{
      margin: 5px;
   }
}

@media (max-width: 335px){
   #menu{
      right: 20%;
      font-size: 20px;
   }
   ul a{
      margin: 2px;
   }
}
