.feedClass{
   margin: 5%;
   width: 90%;
   min-height: 100px;
   /*background: green;*/
}

#feed{
   padding-top: 10px;
   padding-bottom: 10px;
   /*background: pink;*/
}
   hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0));
   }

#feedProfPic{
   width: 10%;
   height: 80px;
   border: none;
   border-radius: 50%;
   overflow: hidden;
   display: inline-block;
}
   #feedProfPic img{
      width: 100%;
   }
#feedInfo{
   /*background: aqua;*/
   width: 86%;
   min-height: 50px;
   display: inline-block;
   margin-bottom: 10px;
   position: relative;
   top: -30px;
   left: 25px;
}
   #feedInfo h2{
      margin-bottom: 0px;
      margin-top: -0px;
   }
   #feedPref{
      /*background: blue;*/
      float: right;
      position: relative;
      top: -30px;
   }
   #feedKonten{
      /*background: yellow;*/
   }


@media (max-width: 1100px){
   feedProfPic{
      height: 30px;
   }
}

@media (max-width: 1000px){
   /*feedProfPic{
      width: 8%;
      height: 5px;
   }*/
   #feedInfo{
      width: 85%;
   }
}

@media (max-width: 825px){
   /*feedProfPic{
      width: 5%;
      height: 1px;*/
   /*}*/
   #feedInfo{
      width: 84%;
   }
}

@media (max-width: 650px){
   /*feedProfPic{
      width: 5%;
      height: 1px;*/
   /*}*/
   #feedInfo{
      width: 82%;
   }
}
