form input{
   margin: 10px;
   margin-left: 0px;
   padding: 10px;
   width: 80%;
   border: none;
   border-bottom: 1px solid grey;
   font-size: 18px;
}

form button{
   padding: 10px 20px 10px 20px;
   margin: 10px;
   margin-left: 0px;
   background: rgb(193, 158, 82);
   color: black;
   font-size: 16px;
   border-radius: 10px;
}
   form button:hover{
      background: rgb(139, 117, 39);
      color: white;
      cursor: pointer;
   }

textarea{
   resize: none;
   width: 80%;
   min-height: 300px;
   font-size: 18px;
   border: none;
   border-bottom: 1px solid grey;
   margin-top: 20px;
   padding: 10px;
}

.jumlahHuruf{
   position: relative;
   right: 20%;
   float: right;
}

@media (max-width: 330px) {
   .jumlahHuruf{
      position: static;
      margin-right: 30px;
   }
}
