body{
   margin: 0px;
   font-family: 'Montserrat', sans-serif;
   font-family: 'Muli', sans-serif;
}

.section{
   width: 100%;
   height: 650px;
}

#section1Home{
   position: fixed;
   background-image: url("../images/1.jpg");
   z-index: 5;
}
   #formDaftar{
      padding: 50px;
      background: white;
      position: absolute;
      right: 20%;
      top: 30%;
   }

#gambarOrangArea{
   background: red;
   position: absolute;
   z-index: 4;
   padding-top: 50px;
}
   #orang{
      height: 300px;
      position: fixed;
      top: 200px;
      left: -200px;
      z-index: 1;
   }
   #meja{
      height: 250px;
      position: absolute;
      top: 220px;
      left: 200px;
      z-index: 2;
   }
   #orangBerubah{
      height: 300px;
      position: absolute;
      top: 200px;
      left: 200px;
      z-index: 3;
   }

#gambar2{
   background: url('../images/2.jpg');
   position: fixed;
}
   #section2Kanan{
      background: blue;
      position: absolute;
      right: 0px;
      z-index: 2;
   }
   #section2Kiri{
      background: pink;
      position: absolute;
      left: 0px;
      z-index: 2;
   }
      #gambar2KiriGambar{
         width: 300px;
         height: 300px;
         background: yellow;
         position: absolute;
         top: 150px;
         left: 25%;
         border-radius:  200px;
         opacity: 0;
      }

#section3{
   background: purple;
   position: absolute;
   top: 1500px;
   z-index: 3;
}

.content{
   width: 50%;
   height: 100%;
   display: inline-block;
}



@media (max-width: 1100px){
   #gambar2KiriGambar{
      width: 230px;
      height: 230px;
      position: absolute;
      top: 200px;
   }
}

@media (max-width: 900px){
   #gambar2KiriGambar{
      width: 200px;
      height: 200px;
      position: absolute;
      top: 200px;
   }
}

@media (max-width: 780px){
   #gambar2KiriGambar{
      width: 180px;
      height: 180px;
      position: absolute;
      top: 200px;
   }
}

@media (max-width: 570px){
   #gambar2KiriGambar{
      width: 150px;
      height: 150px;
      position: absolute;
      top: 200px;
   }
}
