body{
   margin: 0px;
   font-family: 'Montserrat', sans-serif;
}


.gambar{
   width: 100%;
   height: 650px;
}

#gambar1{
   position: fixed;
   background-image: url("../images/1.jpg");
   z-index: 2;
}
   #gambar1Daftar{
      padding: 50px;
      background: white;
      position: absolute;
      right: 20%;
      top: 30%;
   }

#gambar2{
   background: url('../images/2.jpg');
   position: fixed;
}
   #gambar2Kanan{
      background: blue;
      position: absolute;
      right: 0px;
   }
   #gambar2Kiri{
      background: pink;
      position: absolute;
      left: 0px;
   }
      #gambar2KiriGambar{
         width: 300px;
         height: 300px;
         background: yellow;
         position: absolute;
         top: 150px;
         left: 25%;
         border-radius:  200px;
         opacity: 0;
      }

#gambar3{
   background: purple;
   position: absolute;
   top: 1500px;
}

.content{
   width: 50%;
   height: 100%;
   display: inline-block;
}



@media (max-width: 1100px){
   #gambar2KiriGambar{
      width: 230px;
      height: 230px;
      position: absolute;
      top: 200px;
   }
}

@media (max-width: 900px){
   #gambar2KiriGambar{
      width: 200px;
      height: 200px;
      position: absolute;
      top: 200px;
   }
}

@media (max-width: 780px){
   #gambar2KiriGambar{
      width: 180px;
      height: 180px;
      position: absolute;
      top: 200px;
   }
}

@media (max-width: 570px){
   #gambar2KiriGambar{
      width: 150px;
      height: 150px;
      position: absolute;
      top: 200px;
   }
}
